# Data Wrangling  :: Join, combine และ reshape/rearrange ข้อมูล

In [5]:
import pandas as pd
import numpy as np

In [7]:
data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

a  1   -2.255926
   2   -0.102143
   3    0.153486
b  1   -0.818347
   3    1.189137
c  1   -0.025854
   2   -2.664422
d  2   -1.907950
   3   -0.857129
dtype: float64

In [8]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 2, 0, 1, 1, 2]])

In [9]:
data['a']

1   -2.255926
2   -0.102143
3    0.153486
dtype: float64

In [12]:
data['b':'d']

b  1   -0.818347
   3    1.189137
c  1   -0.025854
   2   -2.664422
d  2   -1.907950
   3   -0.857129
dtype: float64

In [13]:
data.loc[['b','d']]

b  1   -0.818347
   3    1.189137
d  2   -1.907950
   3   -0.857129
dtype: float64

In [15]:
data.loc[:,2]

a   -0.102143
c   -2.664422
d   -1.907950
dtype: float64

### เราสามารถแปลงโครงสร้างข้อมูลในรูปแบบลำดับชั้นของ index (Pivot table) ให้อยู่ในรูปแบบ DataFrame ได้ดังนี้

In [22]:
data = data.unstack()
type(data)

pandas.core.frame.DataFrame

In [23]:
data

          a         b         c         d
1 -2.255926 -0.818347 -0.025854       NaN
2 -0.102143       NaN -2.664422 -1.907950
3  0.153486  1.189137       NaN -0.857129